.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(25px);
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal {
    z-index: 100;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    /* width: 1320px;
    height: 360px; */
    flex-shrink: 0;
    /* border-radius: 80px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 8px 16px 0px rgba(27, 27, 27, 0.16);
    backdrop-filter: blur(40px); */
}

.modal-header {
    margin-bottom: 73px;
}

.modal-header p {
    text-align: center;
    color: #FFF;
    font-family: inherit;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.modal-body {
    width: 1320px;
    height: 360px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    border-radius: 80px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 8px 16px 0px rgba(27, 27, 27, 0.16);
    backdrop-filter: blur(40px);
}

.modal-header__icon-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-header__icon-component p {
    color: #FFF;
    font-family: inherit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}

button {
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
}

.button-default {
    background: #247BA0;
    color: #fff;
}

.modal-header__icon-wrapper {
    display: flex;
    padding: 16px;
    gap: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.19);
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 16px 0px rgba(27, 27, 27, 0.16);
    transition: box-shadow 0.3s ease;
}

.modal-header__icon-wrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.modal-body .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    cursor: pointer;
}

.modal-body .menu-item .menu-item__wrapper {
    width: 120px;
    height: 120px;
    background: rgba(255, 255, 255, 0.5);
}

.modal-body .menu-item .menu-item__wrapper>* {
    width: 80px;
    height: 80px;
}

/* Responsive */
@media only screen and (max-width: 390px) {
    .modal-header {
        margin-bottom: 20px;
    }

    .modal-header p {
        font-size: 25px;
        margin-block-start: 10px;
        margin-block-end: 10px;
    }

    .modal-body {
        width: 360px;
        height: 180px;
        border-radius: 50px;
        gap: 10px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .modal-header__icon-wrapper {
        padding: 8px;
    }

    .modal-body .menu-item .menu-item__wrapper {
        width: 25px;
        height: 25px;
    }

    .modal-header__icon-component p {
        font-size: 12px;
        font-weight: normal;
        line-height: 25px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 75px;
    }
}